body{
  background-color: cyan;

}
h2
{
  color:red;
}
h1
{
  color:blue;
  font-weight: bold;
}

label{
  color:navy;
  font-weight: bold;
}
input{
  color:red;
  width: 300px;
	background-color: yellow;
}
select{
  color:blue;
  font-weight: bold;
  background-color: yellow;

}
