body{
  background-color: white;


}
h2
{
  color:red;
}
h1
{
  color:blue;
  font-weight: bold;
}
h3{
  border: 2px solid;
}
label{
  color:navy;
  font-weight:normal;
  font-family: cursive;
}

input[type=text]{
  color:red;
  width: 300px;
	background-color: yellow;
}

input[type=submit]{
  color:red;
  width: 100px;
	background-color: green;
}


select{
  color:blue;
  font-weight: bold;
  background-color: yellow;
  width: 300px;
}

form{
  border: 2px solid red;
  padding: 20px;
  border-radius: 10px;
}
